@using CodingEventsDemo.ViewModels

@*We have bound the AddEventViewModel to this view*@
@model AddEventViewModel

<h1>Add Event</h1>

<form method="post" asp-controller="Events" asp-action="Add">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" autocomplete="off"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" autocomplete="off"/>
        <span asp-validation-for="Description"></span>
    </div>
    <input type="submit" value="Add Event" />
</form>
