<h1>Add Event</h1>

<form method="post">
    <input name="name" type="text" placeholder="Enter event name..." autocomplete="off"/>
    <input name="description" type="text" placeholder="Enter event description..." autocomplete="off"/>
    <input type="submit" value="Add Event" />
</form>
