<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

@*
    Alter this ul to be a table with a name column and
    description column!
*@

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    @*one row per KeyValuePair*@
    <tbody>
        @foreach(KeyValuePair<string,string> kvp in ViewBag.events)
        {
            <tr>
                <td>@kvp.Key</td>
                <td>@kvp.Value</td>
            </tr>
        }
    </tbody>
</table>

@*<ul>
    @foreach (KeyValuePair<string, string> kvp in ViewBag.events)
    {
        <li>
            @kvp.Key: @kvp.Value
        </li>
    }
</ul>*@